<div class="container text-center my-5">
  <div class="row my-5">
      <div class="col-12 my-5">
          <div class="mb-4">
              <i class="bi bi-telephone-fill" style="font-size: 2rem;"></i>
              <p class="mb-0"><a class="large" href="tel:+34603016829">603 01 68 29</a></p>
              <a class="fs-6" href="tel:+34687769421">687 76 94 21</a>
          </div>
          <div class="mb-4">
              <i class="bi bi-envelope-fill" style="font-size: 2rem;"></i>
              <p><a class="fs-6" href="mailto:contacto@estudionoventayseis.com">contacto&#64;estudionoventayseis.com</a></p>
          </div>
          <div class="mb-4">
              <i class="bi bi-instagram" style="font-size: 2rem;"></i>
              <p><a class="fs-6" href="https://www.instagram.com/_estudionoventayseis?igsh=MXJzOXVvaHFmMmtkag==">&#64;_estudionoventayseis</a></p>
          </div>
          <div>
              <i class="bi bi-geo-alt-fill" style="font-size: 2rem;"></i>
              <p>Alicante / España / Global</p>
          </div>
      </div>
  </div>
</div>

