@if(images[0].src.includes(this.project4)) {
  <section>
    <swiper-container class="mySwiper" pagination="true" effect="coverflow" grab-cursor="true" centered-slides="true"
    initial-slide="3" slides-per-view="2" coverflow-effect-rotate="-9" coverflow-effect-stretch="9" coverflow-effect-depth="100"
    coverflow-effect-modifier="4" coverflow-effect-slide-shadows="true" loop="false" autoplay="false" speed="600" pagination-clickable="true"
    on-click-slide-to-clicked-index="true">
    @for (item of images; track $index) {
      @if(item && item.src !== undefined) {
      <swiper-slide>
        <img src="{{item.src}}"/>
        <div class="text-center mt-2 mx-auto">
          <a type="button" class="btn format" data-bs-toggle="modal" data-bs-target="#project4"
            (click)="setImage(item.src)">
            <i class="bi bi-arrows-fullscreen"></i>
          </a>
        </div>
      </swiper-slide>
      }
    }
    </swiper-container>
  </section>
}
@if(images[0].src.includes(this.project5)) {
  <section>
    <swiper-container class="mySwiper" pagination="true" effect="coverflow" grab-cursor="true" centered-slides="true"
    initial-slide="3" slides-per-view="2" coverflow-effect-rotate="-9" coverflow-effect-stretch="9" coverflow-effect-depth="100"
    coverflow-effect-modifier="4" coverflow-effect-slide-shadows="true" loop="false" autoplay="false" speed="600" pagination-clickable="true"
    on-click-slide-to-clicked-index="true">
    @for (item of images; track $index) {
      @if(item && item.src !== undefined) {
      <swiper-slide>
        <img src="{{item.src}}"/>
        <div class="text-center mt-2 mx-auto">
          <a type="button" class="btn format" data-bs-toggle="modal" data-bs-target="#project5"
            (click)="setImage(item.src)">
            <i class="bi bi-arrows-fullscreen"></i>
          </a>
        </div>
      </swiper-slide>
      }
    }
    </swiper-container>
  </section>
}

@if(images[0].src.includes(this.project6)) {
  <section>
    <swiper-container class="mySwiper" pagination="true" effect="coverflow" grab-cursor="true" centered-slides="true"
    initial-slide="3" slides-per-view="2" coverflow-effect-rotate="-9" coverflow-effect-stretch="9" coverflow-effect-depth="100"
    coverflow-effect-modifier="4" coverflow-effect-slide-shadows="true" loop="false" autoplay="false" speed="600" pagination-clickable="true"
    on-click-slide-to-clicked-index="true">
    @for (item of images; track $index) {
      @if(item && item.src !== undefined) {
      <swiper-slide>
        <img src="{{item.src}}"/>
        <div class="text-center mt-2 mx-auto">
          <a type="button" class="btn format" data-bs-toggle="modal" data-bs-target="#project6"
            (click)="setImage(item.src)">
            <i class="bi bi-arrows-fullscreen"></i>
          </a>
        </div>
      </swiper-slide>
      }
    }
    </swiper-container>
  </section>
}

<!-- Modal reutilizable para mostrar la imagen -->
<div class="modal fade" tabindex="-1" id="{{this.currentId}}" aria-labelledby="imageModalLabel4" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content bg-transparent border-0">
      <div class="modal-body bg-transparent border-0 text-center">
        <img [src]="currentSrc" class="modalImage rounded-3 img-fluid" loading="lazy">
      </div>
    </div>
  </div>
</div>
