section {
  width: 100%;
  max-width: 100%;
  background: #F3F2EC;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
  position: relative;
  height: 100%;

}

swiper-container {
  width: 80%;
  aspect-ratio: 4/2.5;
}

swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

swiper-slide img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
