<main class="container about">
  <div class="row my-5">
      <div class="col-12 col-md-4">
          <img src="assets/images/a2411f06-75de-44a7-954f-af43262d9bcb.JPG" alt="Foto de Laura y Héctor" class="img-fluid about">
      </div>
      <div class="col-12 col-md-8 d-flex flex-column justify-content-center px-5">
          <p class="my-5">Estudio de diseño y arquitectura de interior. Somos Laura y Héctor. Amantes del mundo del interiorismo, por lo que, hace unos años decidimos formarnos en torno a esta profesión. Priorizamos mucho la innovación, la sostenibilidad y el diseño eficiente.</p>
          <p>Somos 2 chicos jóvenes nacidos en Alicante, amamos nuestra tierra natal y el sentimiento mediterráneo que se respira en ella. Aun así, dedicamos parte de nuestro tiempo a viajar y aprender de otras culturas, estilos e influencias artísticas que acaban haciendo eco en una visión más enriquecedora.</p>
      </div>
  </div>
  <div class="row my-5">
      <div class="col-12 col-md-4">
          <img src="assets/images/ac5bd66b-4b33-4d6d-94a7-867aecb1b5e8.JPG" alt="Foto de Laura y Héctor" class="img-fluid">
      </div>
      <div class="col-12 col-md-8 d-flex flex-column justify-content-center px-5">
          <p class="my-5">Estudio de diseño y arquitectura de interior. Somos Laura y Héctor. Amantes del mundo del interiorismo, por lo que, hace unos años decidimos formarnos en torno a esta profesión. Priorizamos mucho la innovación, la sostenibilidad y el diseño eficiente.</p>
          <p>Somos 2 chicos jóvenes nacidos en Alicante, amamos nuestra tierra natal y el sentimiento mediterráneo que se respira en ella. Aun así, dedicamos parte de nuestro tiempo a viajar y aprender de otras culturas, estilos e influencias artísticas que acaban haciendo eco en una visión más enriquecedora.</p>
      </div>
  </div>
</main>
