<main class="container about mt-5">
  <div class="row my-5">
      <div class="col-12 col-md-4">
        <img src="./assets/images/1.webp" alt="Foto de Laura y Héctor" class="img-fluid">
      </div>
      <div class="col-12 col-md-8 d-flex flex-column justify-content-center px-5 fw-lighter lh-base">
          <p class="my-5 title">Somos Laura y Héctor.</p>
          <p>Amantes del mundo del interiorismo, por lo que, hace unos años decidimos formarnos en torno a esta profesión. Priorizamos mucho la innovación, la sostenibilidad y el diseño eficiente.</p>
      </div>
  </div>
  <div class="row my-5">
      <div class="col-12 col-md-4">
        <img src="./assets/images/2.webp" alt="Foto de Laura y Héctor" class="img-fluid about">
      </div>
      <div class="col-12 col-md-8 d-flex flex-column justify-content-center px-5 fw-lighter lh-base">
        <p class="my-5">Somos 2 chicos jóvenes nacidos en Alicante, amamos nuestra tierra natal y el sentimiento mediterráneo que se respira en ella.</p>
        <p>Aun así, dedicamos parte de nuestro tiempo a viajar y aprender de otras culturas, estilos e influencias artísticas que acaban haciendo eco en una visión más enriquecedora.</p>
    </div>
  </div>
</main>
