.logo {
  height: 60px;
}

/* nav .nav-link {
  color: #ffffff;
  font-weight: bold;
  padding: 10px 15px;
  text-transform: uppercase;
}

nav .nav-link:hover {
  color: #ffffff;
  background-color: #4a4a4a;
} */

nav .nav-link {
  color: #ffffff;
  font-weight: bold;
  padding: 4px 1px;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  text-decoration: none;
}

nav .nav-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #ffffff;
  left: 0;
  bottom: -2px;
  transition: width 0.5s ease-out;
}

nav .nav-link:hover::after {
  width: 100%;
}

header {
  background-color: #F3F2EC;
}

header .set-color-dark-green {
  height: 60px;
  background-color: #4B5942;
}

header .set-color-beige {
  height: 60px;
  background-color: #F2E8C4;
}

.dynamic-text {
  font-size: 1.2vw;
}
