nav {
  width: 100%;
  max-width: 100%;
}

.logo {
  width: 160px;
  height: 160px;
  background-color: transparent;
  border: none;
}

nav .nav-link {
  color: #ffffff;
  font-weight: lighter;
  letter-spacing: 2px;
  padding: 1px 1px;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  text-decoration: none;
}


nav .nav-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #ffffff;
  left: 0;
  bottom: -2px;
  transition: width 0.5s ease-out;
}

nav .nav-link:hover::after {
  width: 100%;
}

header {
  background-color: #F3F2EC;
}

header .set-color-dark-green {
  background-color: #4B5942;
}

header .set-color-dark-green-sm {
  height: 30px;
  background-color: #4B5942;
}

header .set-color-beige {
  height: 60px;
  background-color: #F2E8C4;
}

.dynamic-text {
  font-size: 1.2vw;
}

.dynamic-text-sm {
  font-size: 2.5vw;
}

.active {
  border-bottom: 2px solid white;
}

.bg-logo {
  height: 120px;
  transform: translateY(-20px);transform: translateY(-20px);
}

.hide-header {
  transform: translateY(-100%);
  transition: transform 0.3s ease-out;
}

header {
  transition: transform 0.3s ease-out;
}

