<header class="container-fluid pb-2 fixed-top set-color-beige">
  <div class="row">
    <div class="col-12 d-flex justify-content-center bg-logo">
      <img src="./assets/images/logo.webp" alt="Logo" class="logo img-thumbnail rounded-3">
    </div>
  </div>
  <div class="row">
    <div class="col-12 d-flex justify-content-center align-items-center w-100 set-color-dark-green">
      <nav class="navbar navbar-expand-lg w-100 d-flex justify-content-center align-items-center py-2">
        <ul class="nav w-100 justify-content-between justify-content-md-around align-items-center">
          <li class="nav-item">
            <a class="nav-link dynamic-text" [ngClass]="{'active':setActiveTab('/#inicio'), '':!setActiveTab('/#inicio')}" href="#inicio">INICIO</a>
          </li>
          <li class="nav-item">
            <a class="nav-link dynamic-text" [ngClass]="{'active':setActiveTab('/#sobre-nosotros'), '':!setActiveTab('/#sobre-nosotros')}" href="#sobre-nosotros">SOBRE NOSOTROS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link dynamic-text" [ngClass]="{'active':setActiveTab('/#proyectos'), '':!setActiveTab('/#proyectos')}" href="#proyectos">PORTFOLIO</a>
          </li>
          <li class="nav-item">
            <a class="nav-link dynamic-text" [ngClass]="{'active':setActiveTab('/#contacto'), '':!setActiveTab('/#contacto')}" href="#contacto">CONTACTO</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>



