<header class="container-fluid py-3 fixed-top set-color-beige">
      <div class="row">
          <div class="col-12 d-flex justify-content-center">
              <img src="assets/images/IMG_7010.jpg" alt="Logo" class="logo">
          </div>
      </div>
      <div class="row mt-3">
          <div class="col-12 d-flex justify-content-center align-items-center w-100 set-color-dark-green">
              <nav class="navbar navbar-expand-lg w-100 d-flex justify-content-center align-items-center">
                  <ul class="nav w-100 justify-content-between justify-content-md-around align-items-center">
                      <li class="nav-item">
                          <a class="nav-link dynamic-text active" href="#inicio">INICIO</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link dynamic-text" href="#sobre-nosotros">SOBRE NOSOTROS</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link dynamic-text" href="#proyectos">PORTFOLIO</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link dynamic-text" href="#contacto">CONTACTO</a>
                      </li>
                  </ul>
              </nav>
          </div>
      </div>
</header>


