<section class="container-fluid p-0 my-5">
  <div class="video-container my-5">
    <video
      #videoPlayer
      autoplay
      muted
      loop
      playsinline
      poster="/assets/images/project4/image00001.webp"
      class="video-background">
      <source src="/assets/images/video.mov" type="video/mp4">
      <source src="/assets/images/video.webm" type="video/webm">
      Your browser does not support the video tag.
    </video>
    <header class="video-overlay p-4">
      <div class="col-12 d-flex justify-content-center h-50">
      </div>
      <h1 class="text-white fw-lighter my-4">ESTUDIO NOVENTA Y SEIS</h1>
      <h2 class="text-white text-uppercase fw-lighter">Estudio de diseño y arquitectura de interior</h2>
    </header>
  </div>
</section>





