<section class="container-fluid p-0">
  <div class="video-container">
    <video autoplay muted loop class="video-background" controls>
      <source src="assets/images/video.mp4" type="video/mp4">
      <source src="assets/images/video.webm" type="video/webm">
      <source src="assets/images/video.ogv" type="video/ogg">
      Your browser does not support the video tag.
    </video>
    <header class="video-overlay">
      <h1 class="text-white fs-1">ESTUDIO NOVENTA Y SEIS</h1>
      <h2 class="text-white text-uppercase">Estudio de diseño y arquitectura de interior</h2>
    </header>
  </div>
</section>



