<!-- <section class="container-fluid p-0">
  <div class="video-container">
    <img src="/assets/images/ac5bd66b-4b33-4d6d-94a7-867aecb1b5e8.JPG" alt="Portrait" class="img-fluid d-md-none">
    <video #videoPlayer autoplay muted loop class="video-background d-none d-md-block">
      <source src="/assets/images/video.mp4" type="video/mp4">
      <source src="/assets/images/video.webm" type="video/webm">
      Your browser does not support the video tag.
    </video>
    <header class="video-overlay">
      <div class="col-12 d-flex justify-content-center">
        <img src="./assets/images/logo.png" alt="Logo" class="logo img-thumbnail mb-3 rounded-3">
      </div>
      <h1 class="text-white fs-1 my-4">ESTUDIO NOVENTA Y SEIS</h1>
      <h2 class="text-white text-uppercase">Estudio de diseño y arquitectura de interior</h2>
    </header>
  </div>
</section> -->

<section class="container-fluid p-0">
  <div class="video-container">
    <!-- Imagen para pantallas pequeñas -->
    <img src="/assets/images/ac5bd66b-4b33-4d6d-94a7-867aecb1b5e8.JPG" alt="Portrait" class="img-fluid d-md-none">

    <!-- Video para pantallas medianas y grandes -->
    <video #videoPlayer autoplay muted loop class="video-background d-none d-md-block">
      <source src="/assets/images/video.mp4" type="video/mp4">
      <source src="/assets/images/video.webm" type="video/webm">
      Your browser does not support the video tag.
    </video>

    <header class="video-overlay">
      <div class="col-12 d-flex justify-content-center">
        <img src="./assets/images/logo.png" alt="Logo" class="logo img-thumbnail mb-3 rounded-3">
      </div>
      <h1 class="text-white fs-1 my-4">ESTUDIO NOVENTA Y SEIS</h1>
      <h2 class="text-white text-uppercase">Estudio de diseño y arquitectura de interior</h2>
    </header>
  </div>
</section>





