section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background-color: #F3F2EC;
  /* background-color: #f5f5f5; */
}

.video-container {
  position: relative;
  width: 100%;
  height: 50vh;
  overflow: hidden;
  z-index: 999;
}

.video-background {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  transform: translate(-50%, -50%);
}

.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
}

img {
  width: 10%;
  height: auto;
}

.logo {
  width: 30%;
  background-color: transparent;
  border: none;
}

h1 {
  letter-spacing: 0.4em; /* Espaciado más amplio */
  font-size: 0.9rem;
  line-height: 1.5; /* Mantiene buena separación vertical */
  font-weight: lighter;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

h2 {
  letter-spacing: 0.4em;  /* Un poco menos espaciado */
  font-size: 0.6rem;
  font-weight: lighter;
  text-transform: uppercase;
  line-height: 1.7;  /* Mantiene buena separación vertical */
}


