<!-- IMÁGENES DE PROYECTO 4 MD - XXL -->
<section class="container text-center fw-lighter lh-base mb-5 d-none d-md-block">
  <h6 class="fw-bold fs-5">PROYECTO ESTUDIO 96 | N.04</h6>
  <app-carousel [images]="images4"></app-carousel>
</section>

<!-- IMÁGENES DE PROYECTO 5 MD - XXL -->
<section class="container text-center fw-lighter lh-base mb-5 d-none d-md-block">
  <h6 class="fw-bold fs-5">PROYECTO ESTUDIO 96 | N.05</h6>
  <app-carousel [images]="images5"></app-carousel>
</section>

<!-- IMÁGENES DE PROYECTO 6 MD - XXL -->
<section class="container text-center fw-lighter lh-base mb-5 d-none d-md-block">
  <h6 class="fw-bold fs-5">PROYECTO ESTUDIO 96 | N.06</h6>
  <app-carousel [images]="images6"></app-carousel>
</section>

<!-- IMÁGENES DE PROYECTO 4 SM - XS -->
<div class="text-center d-md-none">
  <h6 class="fw-bold fs-5 mb-4">PROYECTO ESTUDIO 96 | N.04</h6>
</div>
<div class="card d-md-none mx-auto mb-5">
  <app-card [images]="images4"></app-card>
</div>

<div class="separator d-md-none"></div>

<!-- IMÁGENES DE PROYECTO 5 SM - XS -->
<div class="text-center mt-5 d-md-none">
  <h6 class="fw-bold fs-5 mt-5">PROYECTO ESTUDIO 96 | N.05</h6>
</div>
<div class="card d-md-none mb-5 mt-4 mx-auto">
  <app-card [images]="images5"></app-card>
</div>

<div class="separator d-md-none"></div>

<!-- IMÁGENES DE PROYECTO 6 SM - XS -->
<div class="text-center mt-5 d-md-none">
  <h6 class="fw-bold fs-5 mt-5">PROYECTO ESTUDIO 96 | N.06</h6>
</div>
<div class="card d-md-none mb-5 mt-4 mx-auto">
  <app-card [images]="images6"></app-card>
</div>

<!-- FIN DE PROYECTOS -->

<section class="container text-center fw-lighter lh-base my-5 separator">
  <div class="row mb-5">
    <div class="col-12 px-5 mb-3">
      <h6 class="font-weight-bold mb-5">DESARROLLAMOS Y DISEÑAMOS TU PROYECTO</h6>
      <p class="mb-5">Planos - Renders - Definición de materiales y mobiliario</p>
    </div>
  </div>
  <div class="row my-5">
    <div class="col-12 px-5 mb-3">
      <h6 class="font-weight-bold mb-5">DIRIGIMOS LA OBRA DE PRINCIPIO A FIN</h6>
      <p class="mb-5">Supervisión y seguimiento de obra</p>
    </div>
  </div>
  <div class="row my-5">
    <div class="col-12 px-5">
      <h6 class="font-weight-bold mb-5">COMPLETAMOS CON ELEMENTOS DECORATIVOS</h6>
      <p class="mb-5">Entrega proyecto llave en mano</p>
    </div>
  </div>
</section>
