 <section class="container text-center fw-lighter lh-base mt-5">
  <div class="row">
    <div class="col-12 px-5">
      <h6 class="font-weight-bold my-5">DESARROLLAMOS Y DISEÑAMOS TU PROYECTO</h6>
      <p class="mb-5">Planos - Renders - Definición de materiales</p>
    </div>
  </div>
  <div class="row my-4">
    <div class="col-12 px-5">
      <h6 class="font-weight-bold mb-5">DIRIGIMOS LA OBRA DE PRINCIPIO A FIN</h6>
      <p class="mb-5">Supervisión y seguimiento de obra</p>
    </div>
  </div>
  <div class="row my-4">
    <div class="col-12 px-5">
      <h6 class="font-weight-bold mb-5">COMPLETAMOS CON ELEMENTOS DECORATIVOS</h6>
      <p class="mb-5">Entrega proyecto llave en mano</p>
    </div>
  </div>
</section>

