<section class="container text-center fw-lighter lh-base mb-5 d-none d-md-block">
  <h6 class="fw-bold fs-5 mb-5">PROYECTO ESTUDIO 96 | N.04</h6>
  <div class="carousel-container mb-5">
    <button (click)="showPrevious4()" [disabled]="!this.showButtonPrevious4" class="carousel-nav-button">❮</button>
    <div class="carousel">
      @for (item of displayedImages4; track $index) {
        @if(item && item.src !== undefined) {
          <a type="button" class="btn" data-bs-toggle="modal" data-bs-target="#imageModal4" (click)="setImage4($event)">
            <img [src]="item.src" [class]="item.class" class="imgCarousel">
          </a>
          <div class="modal" tabindex="-1" id="imageModal4" aria-labelledby="imageModalLabel4" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-body">
                  <img [src]="currentSrc4" class="modalImage">
                </div>
              </div>
            </div>
          </div>
        }
      }
    </div>
    <button (click)="showNext4()" [disabled]="!this.showButtonNext4" class="carousel-nav-button">❯</button>
  </div>
</section>

<section class="container text-center fw-lighter lh-base mb-5 d-none d-md-block">
  <h6 class="fw-bold fs-5 mb-5">PROYECTO ESTUDIO 96 | N.05</h6>
  <div class="carousel-container mb-5">
    <button (click)="showPrevious5()" [disabled]="!this.showButtonPrevious5" class="carousel-nav-button">❮</button>
    <div class="carousel">
      @for (item of displayedImages5; track $index) {
        @if(item && item.src !== undefined) {
          <a type="button" class="btn" data-bs-toggle="modal" data-bs-target="#imageModal" (click)="setImage5($event)">
            <img [src]="item.src" [class]="item.class" class="imgCarousel">
          </a>
          <div class="modal" tabindex="-1" id="imageModal" aria-labelledby="imageModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-body">
                  <img [src]="currentSrc5" class="modalImage">
                </div>
              </div>
            </div>
          </div>
        }
      }
    </div>
    <button (click)="showNext5()" [disabled]="!this.showButtonNext5" class="carousel-nav-button">❯</button>
  </div>
</section>

<div class="text-center d-md-none">
  <h6 class="fw-bold fs-5 mb-4">PROYECTO ESTUDIO 96 | N.04</h6>
</div>
<div id="carouselProject4ControlsSm" class="carousel slide text-center d-md-none mx-auto mb-5" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="./assets/images/project4/image00001.webp" class="d-block w-100" alt="...">
      <!-- <img src="/assets/images/project4/image00001.webp" class="d-block w-100" alt="..."> -->
    </div>
    <div class="carousel-item">
      <img src="/assets/images/project4/image00002.webp" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/assets/images/project4/image00003.webp" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/assets/images/project4/image00004.webp" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/assets/images/project4/image00005.webp" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/assets/images/project4/image00006.webp" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/assets/images/project4/image00007.webp" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/assets/images/project4/image00008.webp" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/assets/images/project4/image00009.webp" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/assets/images/project4/image00010.webp" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/assets/images/project4/image00011.webp" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/assets/images/project4/image00012.webp" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/assets/images/project4/image00013.webp" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselProject4ControlsSm" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselProject4ControlsSm" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
  <div class="modal" tabindex="-1" id="imageModalSm4" aria-labelledby="imageModalLabel4" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <img [src]="currentSrc4" class="modalImage">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="separator d-md-none"></div>

<div class="text-center mt-5 d-md-none">
  <h6 class="fw-bold fs-5 mt-5">PROYECTO ESTUDIO 96 | N.05</h6>
</div>
<div id="carouselProject5Controls" class="carousel slide text-center d-md-none mb-5 mt-4 mx-auto" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/assets/images/project5/image00001.webp" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/assets/images/project5/image00002.webp" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/assets/images/project5/image00003.webp" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/assets/images/project5/image00004.webp" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/assets/images/project5/image00005.webp" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/assets/images/project5/image00006.webp" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/assets/images/project5/image00007.webp" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/assets/images/project5/image00008.webp" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/assets/images/project5/image00009.webp" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/assets/images/project5/image00010.webp" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselProject5Controls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselProject5Controls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<section class="container text-center fw-lighter lh-base my-5 separator">
  <div class="row mb-5">
    <div class="col-12 px-5 mb-3">
      <h6 class="font-weight-bold mb-5">DESARROLLAMOS Y DISEÑAMOS TU PROYECTO</h6>
      <p class="mb-5">Planos - Renders - Definición de materiales y mobiliario</p>
    </div>
  </div>
  <div class="row my-5">
    <div class="col-12 px-5 mb-3">
      <h6 class="font-weight-bold mb-5">DIRIGIMOS LA OBRA DE PRINCIPIO A FIN</h6>
      <p class="mb-5">Supervisión y seguimiento de obra</p>
    </div>
  </div>
  <div class="row my-5">
    <div class="col-12 px-5">
      <h6 class="font-weight-bold mb-5">COMPLETAMOS CON ELEMENTOS DECORATIVOS</h6>
      <p class="mb-5">Entrega proyecto llave en mano</p>
    </div>
  </div>
</section>

