/* You can add global styles to this file, and also import other style files */
@charset "UTF-8";

body {
  font-family: "Questrial", sans-serif;
  letter-spacing: 0.1em;
}

/* h1, h2, p, .my-class {
  font-family: "Questrial", sans-serif;
  letter-spacing: 2px;
} */
