div {
  background-color: #F3F2EC;
}
.divider {
  height: 140px;
  border: none;
  background-color: transparent;
}

#david {
  width: 100%;
  height: 100vh;
  background-color: #571608;
  padding: 20px;
  margin: 20px;
}
